{% extends 'base.html.twig' %}

{% block title %}Liste des catégories{% endblock %}

{% block body %}
    {% for categorie in categories %}
        {{ categorie.intitule }}
        <a href="{{ path('show_categorie', {'id': categorie.id}) }}">Détail</a> <br>
    {% endfor %}
{% endblock %}
