{% extends 'base.html.twig' %}

{% block title %}Liste des catégories{% endblock %}

{% block body %}
    <h1>Liste des catégories</h1>
    <a href="{{ path('add_categorie') }}">Ajouter une categorie</a> <br>
    {% for categorie in categories %}
        {{ categorie.intitule }}
        <a href="{{ path('show_categorie', {'id': categorie.id}) }}">Détail</a> <br>
    {% endfor %}
{% endblock %}